---
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";

interface Props {
  heading: string;
  description?: string;
}

const { heading, description } = Astro.props;
---

{
  (() => {
    if (description) {
      return (
        <div class="form-container">
          <MaxWidthContainer>
            <div>
              <SectionHeader variant="no-decoration">
                <h1>{heading}</h1>
              </SectionHeader>
              <p class="description">{description}</p>
            </div>
            <form name="contact" method="POST" data-netlify="true">
              <input
                type="hidden"
                name="subject"
                data-remove-prefix
                value="New message from https://www.christchurchsedalia.com/"
              />
              <div class="input-group">
                <div class="field">
                  <label for="first-name" class="required">
                    Name
                  </label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Vince Corradetti"
                    required
                  />
                </div>
              </div>
              <div class="input-group">
                <div class="field">
                  <label for="email" class="required">
                    Email
                  </label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="vince@vincewebdesigns.com"
                    required
                  />
                </div>
                <div class="field">
                  <label for="phone">Phone Number</label>
                  <input type="tel" name="phone" id="phone" placeholder="856-320-1103" />
                </div>
              </div>
              <div class="field">
                <label for="message">Send a message</label>
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="6"
                  placeholder="Hey guys! I was just wondering about..."
                  required
                />
              </div>
              <button type="submit">Reach out</button>
            </form>
          </MaxWidthContainer>
        </div>
      );
    } else {
      return (
        <div class="form-container">
          <MaxWidthContainer>
            <SectionHeader variant="no-decoration">
              <h1>{heading}</h1>
            </SectionHeader>
            <form name="contact" method="POST" data-netlify="true">
              <input
                type="hidden"
                name="subject"
                data-remove-prefix
                value="New message from https://www.christchurchsedalia.com/"
              />
              <div class="input-group">
                <div class="field">
                  <label for="first-name" class="required">
                    Name
                  </label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Vince Corradetti"
                    required
                  />
                </div>
              </div>
              <div class="input-group">
                <div class="field">
                  <label for="email" class="required">
                    Email
                  </label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="vince@vincewebdesigns.com"
                    required
                  />
                </div>
                <div class="field">
                  <label for="phone">Phone Number</label>
                  <input type="tel" name="phone" id="phone" placeholder="856-320-1103" />
                </div>
              </div>
              <div class="field">
                <label for="message">Send a message</label>
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="6"
                  placeholder="Hey guys! I was just wondering about..."
                  required
                />
              </div>
              <button type="submit">Reach out</button>
            </form>
          </MaxWidthContainer>
        </div>
      );
    }
  })()
}

<style lang="scss">
  @use "../styles/tokens/_tokens.scss" as t;

  .form-container {
    :global(.section-header) {
      max-width: fit-content;
      margin-inline: auto;
    }
  }

  .description {
    margin: 0 auto;
    color: t.$clr-grey;
    text-align: center;
  }

  form {
    position: relative;
    display: grid;
    gap: 2rem;
    width: t.$w-inner-page-popouts;
    margin: 4rem auto 0 auto;
    padding: 4rem 2rem;
    border-radius: 1rem;
    border: 0.0625rem solid t.$clr-golden-tan;
    background-color: white;
    box-shadow: t.$s-main;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23efefef' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");

    &::before,
    &::after {
      position: absolute;
      width: clamp(2rem, 3vw, 3rem);
      height: clamp(2rem, 3vw, 3rem);
      content: "";
      background: center / cover no-repeat url("../assets/frame.png");
    }

    &::before {
      top: 0;
      left: 0;
      transform: translate(-25%, -25%);
    }

    &::after {
      bottom: 0;
      right: 0;
      transform: translate(25%, 25%) rotate(180deg);
    }
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    & > * {
      width: 100%;
    }
  }

  .field {
    font-family: t.$ff-poppy;
  }

  label {
    font-size: 1.125rem;
    color: t.$clr-black;
    display: block;
    margin-bottom: 1rem;
  }

  input,
  textarea,
  button {
    border-radius: 0.25rem;

    &:focus {
      outline: 0.125rem solid t.$clr-green;
    }
  }

  input,
  textarea {
    font-size: 1rem;
    border: 0.0625rem solid t.$clr-grey;
  }

  input {
    width: 100%;
    padding: 0.75rem 1rem;
  }

  textarea {
    resize: none;
    width: 100%;
    padding: 1rem;
  }

  button {
    margin-top: 2rem;
    padding: 0.75rem 1rem;
    outline: transparent;
    border: transparent;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: t.$ff-poppy;
    color: white;
    background-color: t.$clr-black;
    cursor: pointer;
    border-radius: t.$br-main;
  }
</style>
