@use "../tokens/tokens" as t;

body {
  font-size: 1.125rem;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  max-width: 65ch;
  line-height: 1.5;
  font-family: t.$ff-poppy;
}

.center {
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
